# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.TAG_NAME }}

      - name: Publish python poetry package
        uses: JRubics/poetry-publish@v1.16
        with:
          python_version: "3.10"
          pypi_token: ${{ secrets.PYPI_API_TOKEN }}
          build_format: "wheel"
          ignore_dev_requirements: "yes"
